.mapzen-logo {
  background-image: url("//mapzen.com/assets/mapzen-logo_h.png"); }

.mapzen-logo:hover {
  background-image: url("//mapzen.com/assets/mapzen-logo_h_hover.png"); }

.navbar-brand {
  padding: 8px 15px; }

.demo-content {
  position: relative; }

.product-header {
  height: 200px;
  background-color: gray;
  color: white;
  position: relative;
  font-weight: 300; }

.product-header-text {
  position: absolute;
  bottom: 20px; }

.demo-container {
  position: relative;
  height: 600px;
  overflow: hidden; }
  .demo-container > .demo-map {
    width: 100%;
    height: 100%;
    z-index: 100; }

body:not(.is-scrolling) .navbar-fixed-top {
  top: 0 !important; }

body.hide-fixed-main-nav nav {
  margin-top: -60px; }

nav {
  width: 100%;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition: all .25s, width 0s;
  -moz-transition: all .25s, width 0s;
  transition: all .25s, width 0s;
  z-index: 3500 !important; }

.page-content-filler h3 {
  margin-top: 30px;
  text-transform: uppercase;
  color: #d4645c;
  font-size: inherit;
  font-weight: 600;
  margin-bottom: 10px; }
.page-content-filler h3, .page-content-filler p, .page-content-filler .highlight {
  padding-left: 80px;
  padding-right: 80px; }
.page-content-filler .highlight {
  margin-top: 20px; }
.page-content-filler img {
  width: 100%;
  margin: 20px 0; }
.page-content-filler pre {
  border: 3px solid #eee;
  border-radius: 0;
  padding: 20px;
  background-color: #fafafa;
  background-image: url('data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%208%208%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20stroke-linejoin%3D%22round%22%20stroke-miterlimit%3D%221.414%22%3E%3Cg%20fill-opacity%3D%22.031%22%3E%3Cpath%20d%3D%22M0%200v4l4-4H0zM8%200L0%208h4l4-4V0z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
  background-size: 8px; }

.section-nav {
  position: absolute;
  top: 76px;
  width: 100%;
  height: 50px;
  overflow: hidden;
  z-index: 2000;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  transform: translate(0, 0); }
  .section-nav.is-floating {
    position: fixed;
    top: 20px; }
    body.fixed-main-nav .section-nav.is-floating {
      top: 76px; }
    body.fixed-main-nav:not(.is-scrolling) .section-nav.is-floating {
      -webkit-transition: top 0.25s;
      -moz-transition: top 0.25s;
      transition: top 0.25s; }
  .section-nav.is-collapsed .section-nav-container {
    width: 300px; }
  .section-nav.is-collapsed .section-nav-items, .section-nav.is-collapsed .section-nav-scroll-container {
    width: 150px; }
  .section-nav.is-collapsed .section-nav-items {
    background-color: #d4645c; }
  .section-nav.is-collapsed ul {
    position: absolute;
    top: 0;
    right: 0;
    -webkit-transition: top 0.25s;
    -moz-transition: top 0.25s;
    transition: top 0.25s; }
  .section-nav.is-collapsed li {
    display: block; }
  .section-nav.is-collapsed li.section-nav-item-egg {
    display: block; }
  .section-nav.is-collapsed .section-nav-dropdown {
    display: block; }

.section-nav-container {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 50px;
  background-color: rgba(15, 15, 15, 0.75);
  z-index: 2000;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; }
  .section-nav.enable-animation .section-nav-container {
    -webkit-transition: width 0.25s;
    -moz-transition: width 0.25s;
    transition: width 0.25s; }

.section-nav-title {
  display: inline-block;
  position: relative;
  padding: 0 20px;
  height: 50px;
  color: white;
  text-shadow: 0 1px 1px black;
  vertical-align: top;
  opacity: 1;
  cursor: pointer; }
  .section-nav-title h2 {
    margin: 0;
    font-size: 20px;
    font-weight: 600;
    line-height: 50px; }

.section-nav-items {
  display: inline-block;
  height: 50px;
  position: absolute;
  left: 150px;
  right: 0;
  overflow: hidden; }
  .section-nav-items ul {
    display: inline-block;
    padding: 0;
    margin: 0;
    font-size: 0;
    white-space: nowrap;
    float: right; }
  .section-nav-items li {
    display: inline-block;
    padding: 0 20px;
    line-height: 50px;
    font-size: 14px;
    text-transform: uppercase;
    color: white;
    cursor: pointer; }
    .section-nav-items li:not(.active):not(:hover) {
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5); }
    .section-nav-items li:hover, body:not(.is-scrolling) .section-nav-items li.active:hover, .section-nav.is-collapsed .section-nav-items li.active:hover {
      background-color: #af554e; }
    .section-nav-items li.activated, body:not(.is-scrolling) .section-nav-items li.active {
      background-color: #d4645c; }
    .section-nav-items li.section-nav-item-egg {
      display: none; }

.section-nav-dropdown {
  display: none;
  position: absolute;
  right: 9px;
  bottom: 9px;
  color: white;
  font-size: 8px;
  opacity: 0.85;
  pointer-events: none; }

.section-nav-hitbox {
  position: fixed;
  top: 0;
  width: 100%;
  height: 90px;
  z-index: 1999;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  pointer-events: none; }
  body.floating-section-nav .section-nav-hitbox {
    pointer-events: all; }
  body.fixed-main-nav .section-nav-hitbox {
    height: 146px; }
