// Demo lorem ipsum content
body {
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #191919;
}

.static-content {
  h1 {
    // font-family: 'Playfair Display';
    // font-size: 26px;
    // color: #d4645c;
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-size: 34px;
    font-weight: 300;
    color: #d4645c;
    text-transform: uppercase;
    letter-spacing: 1.5px; 
    margin-top: 80px;
    margin-bottom: 30px;
  }

  h2 {
    padding-left: 80px;
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: #333;
    margin-top: 40px;
    margin-bottom: 15px;
  }

  h3, h4, h5, h6 {
    padding-left: 80px;
    font-family: 'Playfair Display', serif;
    //font-family: 'Open Sans', Helvetica, sans-serif;
    font-weight: 100;
    font-size: 24px;
    color: #191919;
    margin-top: 30px;
    margin-bottom: 10px;
  }

  .caption {
    font-style: italic;
    margin-top: -15px;
    margin-bottom: 20px;
  }

  h1,
  p,
  .highlight {
    padding-left: 80px;
    padding-right: 80px;
  }

  .highlight {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  a {
    color: #6EA0A4;
    font-weight: 600;
  }

  img {
    width: 100%;
    margin: 20px 0;
  }

  pre {
    border: 3px solid #eee;
    border-radius: 0;
    padding: 20px;
    background-color: #fafafa;
    background-image: url('data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%208%208%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20stroke-linejoin%3D%22round%22%20stroke-miterlimit%3D%221.414%22%3E%3Cg%20fill-opacity%3D%22.031%22%3E%3Cpath%20d%3D%22M0%200v4l4-4H0zM8%200L0%208h4l4-4V0z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
    background-size: 8px;
  }

  ol {
    margin-left: 70px;
    margin-top: 30px;
    margin-bottom: 10px;
  }

  ul{
    list-style-type: disc;
  }

  .btn_transparent {
    margin-bottom:20px; 
    background: transparent;
    border: 1px solid black;
    border-radius: 0px;
    color: #000000;
    text-transform: uppercase;
    padding: 6px 12px;
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 100;
    color: #333;
  }

}
