$section-nav-height: 50px;
$section-nav-background-color: #0f0f0f;
$section-nav-background-translucent: transparentize($section-nav-background-color, .25);
$section-nav-hitbox-lower-buffer: 20px;
$section-nav-transition-time: 0.25s; // All other animations
$section-nav-scroll-time: 0.25s; // Time to scroll through section list
$section-nav-z-index: 2000;

.section-nav {
  position: absolute;
  top: 20px + $main-nav-height;
  width: 100%;
  height: $section-nav-height;
  overflow: hidden;
  z-index: 2000;

  -webkit-transform: translate(0,0);
     -moz-transform: translate(0,0);
          transform: translate(0,0);

  // Fix font rendering on Safari/OSX changing weight
  // when position: fixed
  -webkit-font-smoothing: subpixel-antialiased;

  // When product nav is floating
  &.is-floating {
    position: fixed;
    top: 20px;

    // Floating AND fixed main navigation
    // Go back to regular top position
    body.fixed-main-nav & {
      top: 20px + $main-nav-height;
    }

    // This is the only time a transition time should exist
    body.fixed-main-nav:not(.is-scrolling) & {
      -webkit-transition: top $section-nav-transition-time;
         -moz-transition: top $section-nav-transition-time;
              transition: top $section-nav-transition-time;
    }
  }

  // When product nav is collapsed!
  &.is-collapsed {
    .section-nav-container {
      width: 300px;
    }

    .section-nav-items,
    .section-nav-scroll-container {
      width: 150px;
    }

    .section-nav-items {
      background-color: $mz-red;
    }

    // Set animation transition for scrolling through
    // sections while the nav is collapsed.
    ul {
      position: absolute;
      top: 0;
      right: 0;
      -webkit-transition: top $section-nav-scroll-time;
         -moz-transition: top $section-nav-scroll-time;
              transition: top $section-nav-scroll-time;
    }

    li {
      display: block;
    }

    li.section-nav-item-egg {
      // Override default display of none
      display: block;
    }

    .section-nav-dropdown {
      display: block;
    }
  }
}

.section-nav-container {
  display: inline-block;
  position: relative;
  width: 100%;
  height: $section-nav-height;
  background-color: $section-nav-background-translucent;
  z-index: 2000;

  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;

  .section-nav.enable-animation & {
    -webkit-transition: width $section-nav-transition-time;
       -moz-transition: width $section-nav-transition-time;
            transition: width $section-nav-transition-time;
  }
}

.section-nav-title {
  display: inline-block;
  position: relative;
  padding: 0 20px;
  height: $section-nav-height;
  color: white;
  text-shadow: 0 1px 1px black;
  vertical-align: top;
  opacity: 1;
  cursor: pointer;

  // Semantically, the title of this component is a h2 element
  // Styles override default page h2
  h2 {
    margin: 0;
    font-size: 20px;
    font-weight: 600;
    line-height: $section-nav-height;
  }
}

.section-nav-items {
  display: inline-block;
  height: $section-nav-height;
  position: absolute;
  left: 150px;
  right: 0;
  overflow: hidden;

  ul {
    display: inline-block;
    padding: 0;
    margin: 0;

    // Prevent spaces between inline blocks
    font-size: 0;
    white-space: nowrap;

    // Float is used for positioning in its default state,
    // so it ignores the 'top' property used for positioning
    // in its collapsed state.
    float: right;
  }

  li {
    display: inline-block;
    padding: 0 20px;
    line-height: $section-nav-height;
    font-size: 14px;
    text-transform: uppercase;
    color: white;
    cursor: pointer;

    &:not(.active):not(:hover) {
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    }

    &:hover,
    body:not(.is-scrolling) &.active:hover,
    .section-nav.is-collapsed &.active:hover {
      background-color: desaturate(darken($mz-red, 10%), 20%);
    }

    &.activated,
    body:not(.is-scrolling) &.active {
      background-color: $mz-red;
    }

    &.section-nav-item-egg {
      display: none;
    }
  }
}

.section-nav-dropdown {
  display: none;
  position: absolute;
  right: 9px;
  bottom: 9px;
  color: white;
  font-size: 8px;
  opacity: 0.85;
  pointer-events: none;
}

.section-nav-hitbox {
  position: fixed;
  top: 0;
  width: 100%;
  height: 20px + $section-nav-height + $section-nav-hitbox-lower-buffer; // Top margin + nav height + lower buffer
  z-index: $section-nav-z-index - 1;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;

  // Disable pointer events by default
  pointer-events: none;

  // Activate when floating thing is there.
  body.floating-section-nav & {
    pointer-events: all;
  }

  // Extend hitbox when fixed main nav is revealed
  body.fixed-main-nav & {
    height: 20px + $section-nav-height + $section-nav-hitbox-lower-buffer + 56px; // Top margin + nav height + lower buffer + main nav height
  }
}
