/* demo styles */

.top-thing {
  height: 200px;
  background-color: gray;
  color: white;
  position: relative;
  font-weight: 300;
}

.top-thing-text {
  position: absolute;
  bottom: 20px;
}

.top-nav {
  background-color: #333;
  height: 60px;
  z-index: 2000;
}

.top-nav-item {
  display: inline-block;
  color: white;
  padding: 20px;
  cursor: pointer;
  margin-right: -4px;
  text-transform: uppercase;
}
.top-nav-item:hover,
.top-nav-item.active:hover {
  background-color: #a24a44;
}

body:not(.is-scrolling) .top-nav-item.active,
.top-nav-item.activated {
  background-color: #d4645c !important;
}

.demo-map {
  position: relative;
  height: 600px;
  overflow:hidden;
}

body.version2 .demo-map {
  height: 800px;
}

.demo-map > .top-thing {
  position: absolute;
  background-color: rgba(0,0,0,0.65);
  width: 100%;
  text-shadow: 0 1px 1px black;
  pointer-events: none;
}


.page-content-filler h3 {
  margin-top: 30px;
  text-transform: uppercase;
  color:  #d4645c;
  font-size: inherit;
  font-weight: 600;
  margin-bottom: 10px;
}

.highlight {
  margin-top: 20px;
}

.page-content-filler h3,
.page-content-filler p,
.page-content-filler .highlight {
  padding-left: 80px;
  padding-right: 80px;
}

.page-content-filler img {
  width: 100%;
  margin: 20px 0;
}
#product-nav {
  z-index: 20;
  -webkit-transform: translate(0,0);
  -moz-transform: translate(0,0);
  transform: translate(0,0);
  -webkit-transition: all .25s;
  -moz-transition: all .25s;
  transition: all .25s;
}
body.fix-product-nav #product-nav {
  position: fixed;
  top: 0;
  width: 100%;
}
body.fix-product-nav {
  margin-top: calc(60px + 56px);
}

body.fix-product-nav nav {
  top: -56px;
  position: fixed;
}

body:not(.is-scrolling) .navbar-fixed-top {
  top: 0 !important;
}

body.fix-main-nav:not(.is-scrolling) #product-nav {
  top: 56px;
}

nav {
  width: 100%;
  -webkit-transform: translate(0,0);
  -moz-transform: translate(0,0);
  transform: translate(0,0);
  -webkit-transition: all .25s;
  -moz-transition: all .25s;
  transition: all .25s;
}

.navbar-brand {
  /* position hack */
  padding: 8px 15px;
}
.top-nav .container {
  overflow:hidden;
  position:relative;
}
.product-nav {
  display: inline-block;
  color: white;
  font-size: 20px;
  font-weight: 600;
  height: 60px;
  position: relative;
  padding-left: 40px;
  padding-right: 20px;
  -webkit-transform: translate(0,0);
  -moz-transform: translate(0,0);
  transform: translate(0,0);
    -webkit-transition: all .2s;
  -moz-transition: all .2s;
  transition: all .2s;
  opacity: 0;
  margin-left: -150px;
}
body.fix-product-nav .product-nav,
.product-nav.show-product-logo {
  display: inline-block;
  margin-left: 0;
  opacity: 1;
}
.product-logo {
  display: inline-block;
  background-image: url('https://cdn1.vox-cdn.com/images/polygon/logos/logo_black.vbbf4076.png');
  width: 35px;
  height: 33px;
  position: absolute;
  top: -4px;
  left: 0px;
}

.floating-container {
  position: fixed;
  top: 30px;
  width: 100%;
  height: 60px;
  overflow: hidden;
  pointer-events: none;
  z-index: 2000;
}
.floating-container.not-floating-yet {
  top: 0;
  position: relative;
  pointer-events: auto;
  background-color: #333;
}

.floating-nav {
  display: inline-block;
  background-color: #333;
  height: 60px;
  padding-left: 6px;
  /*padding-right: 4px;*/
  pointer-events: auto;
-moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  z-index: 2000;
  overflow: hidden;
}
.floating-nav .product-nav {
  vertical-align: top;
  padding-top: 15px;
}
.floating-nav .product-nav .product-logo {
  top: 12px;
}
.floating-nav-items,.navscroller {
  display: inline-block;
}

body.fix-floating-nav .floating-nav-items,
body.fix-floating-nav .navscroller {
  width: 148px;
}

body.fix-floating-nav .floating-nav-items .top-nav-item {
  display: block;
  margin-right:0;
}

body.fix-floating-nav .navscroller {
  position: absolute;
  width: 148px;
  background-color: #d4645c;
  top: 0;
  -webkit-transform: translate(0,0);
  -moz-transform: translate(0,0);
  transform: translate(0,0);
    -webkit-transition: all .2s;
  -moz-transition: all .2s;
  transition: all .2s;
}
/*
.floating-container.reveal {

}
.floating-container.reveal .top-nav-item {
  display: inline-block !important;
  margin-right: -4px;
}
.floating-container.reveal .floating-nav-items,
.floating-container.reveal .navscroller {
  width: auto !important;
}
*/
.reveal-floating {
  display: none;
  opacity: 0;
  position: fixed;
  top: 30px;
  z-index: 2500;
  width: 100%;
  -webkit-transform: translate(0,0);
  -moz-transform: translate(0,0);
  transform: translate(0,0);
    -webkit-transition: all .2s;
  -moz-transition: all .2s;
  transition: all .2s;
}
.reveal-floating.reveal {
  display: block;
  opacity: 1;
}