/* demo styles */

@product-nav-height: 50px;
@product-nav-background-color: #0f0f0f;
@product-nav-background-translucent: fade(@product-nav-background-color, 75%);
@product-nav-hitbox-lower-buffer: 20px;
@product-nav-transition-time: 0.2s;
@product-nav-scroll-time: 0.2s;
@mz-red: #d4645c;

.demo-content {
  position: relative;
}

.product-header {
  height: 200px;
  background-color: gray;
  color: white;
  position: relative;
  font-weight: 300;
}

.product-header-text {
  position: absolute;
  bottom: 20px;
}

.product-nav {
  position: absolute;
  top: 20px + 56px;
  width: 100%;
  height: @product-nav-height;
  overflow: hidden;
  z-index: 2000;

  -webkit-transform: translate(0,0);
     -moz-transform: translate(0,0);
          transform: translate(0,0);

  -webkit-transition: top @product-nav-scroll-time;
     -moz-transition: top @product-nav-scroll-time;
          transition: top @product-nav-scroll-time;

  // When product nav is floating
  &.is-floating {
    position: fixed;
    top: 20px;

    // Floating AND fixed main navigation
    body.fixed-main-nav & {
      top: 20px + @product-nav-height;
    }
  }

  // When product nav is collapsed!
  &.is-collapsed {
    .product-nav-container {
      width: 300px;
    }

    .product-nav-items,
    .product-nav-scroll-container {
      width: 150px;
    }

    .product-nav-items {
      background-color: @mz-red;
    }

    // Set animation transition for scrolling through
    // sections while the nav is collapsed.
    ul {
      position: absolute;
      top: 0;
      right: 0;
      -webkit-transition: top @product-nav-scroll-time;
         -moz-transition: top @product-nav-scroll-time;
              transition: top @product-nav-scroll-time;
    }

    li {
      display: block;
    }

    li.product-nav-item-egg {
      // Override default display of none
      display: block;
    }

    .product-nav-dropdown {
      display: block;
    }
  }
}

.product-nav-container {
  display: inline-block;
  position: relative;
  width: 100%;
  height: @product-nav-height;
  background-color: @product-nav-background-translucent;
  z-index: 2000;

  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;

  &.enable-animation {
    -webkit-transition: width @product-nav-transition-time;
       -moz-transition: width @product-nav-transition-time;
            transition: width @product-nav-transition-time;
  }
}

.product-name {
  display: inline-block;
  position: relative;
  padding: 0 20px;
  height: @product-nav-height;
  color: white;
  text-shadow: 0 1px 1px black;
  vertical-align: top;
  opacity: 1;
  cursor: pointer;

  // Semantically, the product name is a h2 element
  // Styles override default page h2
  h2 {
    margin: 0;
    font-size: 20px;
    font-weight: 600;
    line-height: @product-nav-height;
  }
}

.product-nav-items {
  display: inline-block;
  height: @product-nav-height;
  position: absolute;
  left: 150px;
  right: 0;
  overflow: hidden;

  ul {
    display: inline-block;
    padding: 0;
    margin: 0;

    // Prevent spaces between inline blocks
    font-size: 0;
    white-space: nowrap;

    // Float is used for positioning in its default state,
    // so it ignores the 'top' property used for positioning
    // in its collapsed state.
    float: right;
  }

  li {
    display: inline-block;
    padding: 0 20px;
    line-height: @product-nav-height;
    font-size: 14px;
    text-transform: uppercase;
    color: white;
    cursor: pointer;

    &:not(.active):not(:hover) {
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    }

    &:hover,
    body:not(.is-scrolling) &.active:hover,
    .product-nav.is-collapsed &.active:hover {
      background-color: desaturate(darken(@mz-red, 10%), 20%);
    }

    &.activated,
    body:not(.is-scrolling) &.active {
      background-color: @mz-red;
    }

    &.product-nav-item-egg {
      display: none;
    }
  }
}

.product-nav-dropdown {
  display: none;
  position: absolute;
  right: 9px;
  bottom: 9px;
  color: white;
  font-size: 8px;
  opacity: 0.85;
  pointer-events: none;
}

.product-nav-hitbox {
  position: fixed;
  top: 0;
  width: 100%;
  height: 20px + @product-nav-height + @product-nav-hitbox-lower-buffer; // Top margin + nav height + lower buffer
  z-index: 2000;
  // Disable pointer events by default
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;

  // Activate when floating thing is there.
  body.floating-product-nav & {
    pointer-events: all;
  }

  // Extend hitbox when fixed main nav is revealed
  body.fixed-main-nav & {
    height: 20px + @product-nav-height + @product-nav-hitbox-lower-buffer + 56px; // Top margin + nav height + lower buffer + main nav height
  }
}

body.floating-product-nav {
  margin-top: @product-nav-height;
}

.demo-container {
  position: relative;
  height: 600px;
  overflow: hidden;

  > .demo-map {
    width: 100%;
    height: 100%;
    z-index: 100; // Fix a Leaflet stacking bug
  }

  // Leaflet overrides
  .leaflet-container .leaflet-control-attribution {
    background-color: @product-nav-background-translucent;
    color: #ddd;
  }
}


body:not(.is-scrolling) .navbar-fixed-top {
  top: 0 !important;
}

body.hide-fixed-main-nav nav {
  margin-top: -60px;
}

nav {
  width: 100%;
  -webkit-transform: translate(0,0);
  -moz-transform: translate(0,0);
  transform: translate(0,0);

  // Safari has a bug where width of nav will animate when page loads
  -webkit-transition: all .25s, width 0s;
  -moz-transition: all .25s, width 0s;
  transition: all .25s, width 0s;
  z-index: 3500 !important; // Position above top nav hitbox TODO: override Bootstrap properly
}
